.App {
  background-color: white;
  display: flex;
  flex-direction: column; /* ensure the content flows from top to bottom */
}

/* You have a typo in "root main". It should be ".Root main" if "Root" is a class name. 
   If "Root" is a component, then it should be "Root main" */
main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* make main content take up available space */
  min-height: calc(100vh - 88px - 42.5px); /* ensure the .App covers the full viewport height */
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Product-form-container {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
  color: green;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  color: green;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: blue;
}