footer { 
    width: 100%; 
    text-align: center;
    background-color: rgb(27, 130, 219);
    font-size: 20px;
    margin-top: auto; /* push the footer to the bottom */
    flex-shrink: 0; /* prevent footer from shrinking */
 }

#footerText {
    color: black;
    font-size: 75%;
    font-weight: 500;
    padding: 10px;
    margin: 0;
}